body{
    background-color: #ed62aeee;
 }

.grid {
    width: 60%;
    height: 500px;
    margin: 100px auto 0;
    background-color: #fff;
    padding: 30px
    border-radius 10px;
    border: 2px solid color #eb68d7ee;
    box-shadow: 15px 10px 5px color #8d177bee;
}

.grid h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size 30px;
    background-color: #8ad774ee;
    text-align: center;
    color: #fff;
    padding: 5px 3px;
    border-radius: 50px;
    border-top: 30%;
}

.quiz {
    padding: 30px 0px;
}

.quiz h2{
       font-size: 20px
   color #eee
   font-weight 25px;
  }

  .btn {
    margin-top: 40px;
    background: #eee;
    font-weight: 450;
    width: 100%;
    color: rgb(1, 14, 14);
    font-weight: bold 300;
    text-align: left;
    border-radius: 5px;
    padding: 15px 0px;
    margin: 10px 0px;
    border:1px solid #37e680;
    cursor: pointer;
    transition: all 0.5s;
  }

  .btn:hover{
   background-color: #d7f083;
   color: darkgoldenrod;
   }

   #next-btn{
    background-color: #e4bb4a;
    color:rgb(67, 36, 179);
    font-weight: 500;
    width: 200px;
    border: 0;
    padding: 25px 0px;
    margin: 25px auto 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;


   }