body{
    background-color: #ed62aeee;
 }

.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px
    border-radius: 40px 20px 20px;
    border: 2px solid color #eb68d7ee;
    box-shadow: 15px 10px 5px color #8d177bee;
}

.grid h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-size 70px;
    background-color: #8ad774ee;
    text-align: center;
    color: #fff;
    padding: 5px 3px;
    border-radius: 50px;
    border-top: 30%;
}


